# .NET
bin/
obj/
*.user
*.suo
.vs/

# Docker
docker-compose.override.yml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
*.swp
*~

# IDE
.idea/
.vscode/
*.sln.DotSettings.user
